.ClassCardComponent {
  /* Card */
  box-sizing: border-box;
  font-style: normal;
  /* Auto layout */
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 16px;
  gap: 24px;
  isolation: isolate;
  width: 100%;
  height: 420px;
  /* Shades Color/White 0 F */
  background: #ffffff;
  /* Natural Grey/Grey 200 */
  border: 1px solid #e8e9ed;
  box-shadow: 0px 0px 16px #e1e5f1;
  border-radius: 24px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}
.countdown {
  margin: 0 auto;
}
.countdown span {
  margin: 0 4px;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0px;
  width: 52px;
  height: 52px;
  background: #ffffff;
  border: 1px solid #e8e9ed;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  letter-spacing: 0.05em;
  color: #80bd02;
}
.general-details {
  padding: 0px 8px;
}
.date,
.location,
.duration,
.attendance,
.level {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #6d6e71;
}
.dateTime {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2px;
  width: 277.5px;
  flex: none;
  order: 0;
  justify-content: space-between;
}
.header {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2px;
  width: 277.5px;
  flex: none;
  order: 0;
  justify-content: space-between;
}
.title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #20202a;
}
.price {
  width: 49px;
  height: 26px;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #80bd02;
  order: 1;
  flex-grow: 0;
}
.button {
  /* Button */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px 12px 15px;
  gap: 6px;
  width: 277.5px;
  height: 48px;
  background: #80bd02;
  color: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  flex: none;
  order: 2;
}
