@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

@layer utilities {
  .grid-cols-layout {
    grid-template-columns: minmax(50px, 220px) 1fr;
  }
}

html,
body {
  background: #f2f2f2;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
